footer {
    background-color: rgb(80, 79, 79);
    color:azure;
    padding: 5%;

    h3 {
        margin-top: 0%;
        font-weight: lighter;
    }
    ul {
        padding-inline-start: 0;
    }
    li {
        list-style: none;
        padding: 1% 0 0 0;
        margin: 0;
        span {
            padding: 1%;
        }
    }
    
    .fas {
        font-size: small;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
    }
}



