footer {
    background-color: rgb(80, 79, 79);
    color:azure;

    h3 {
        margin-left: 10%;
        margin-top: 0%;
    }

    ul {
        margin: 0;
    }

    li {
        list-style: none;
    }
    
    .fas {
        font-size: small;
        color: white;
    }
}



