@import "../utils/variables";



.functionality {
    display: flex;
    flex-direction: column;
    margin: 0 5% 0 5%;
    &__list--item {
        list-style: none;
        display: flex;
        padding: 20px;
        margin: 10px;
        box-shadow: 0px 4px 15px 0px #A0A0A0;
        width: 90%;
        height: 40px;
        margin-left: 0;
        border-radius: 20px;
        align-items: center;
        background-color: rgb(248, 244, 239);
        &::before {
            counter-increment: section;
            content: counter(section);
            text-align: center;
            background-color: $-primary;
            color: white;
            border-radius: 30px;
            width: 30px;
            height: 30px;
            left: 2%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .fas {
            margin-left: 5%;
            margin-right: 20%;
        }
        &:hover {
            background-color: lighten($-primary, 30%);
            i {
                color: $-primary
            }
        }
    }
}