.title {
    height: 50px;
    display: flex;
    align-items: center;
}

#logo {
    height: 60%;
    margin-left: 25%;
}

.subtitle {
    align-items: center;
    background-color: rgb(231, 224, 218);
}

#localisationLogo {
    width: 30px;
}