.title {
    height: 50px;
    align-items: center;
    padding: 5px;
}

header {
    .fas {
        font-size: medium;
        color: black;
    }
}

.header-menu {
    .title {
        a {
            position: absolute;
            left: 5%;
            i {
                color: rgb(123, 123, 124);
                font-size: large;
            }
        }
    }
}

#logo {
    height: 60%;
}

.subtitle {
    align-items: center;
    background-color: rgb(232, 232, 232);
    box-shadow: inset 0px 3px 5px #d0cece;
}

#localisationLogo {
    width: 30px;
}