@font-face {
  font-family: "Roboto";
  src: url("/police/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/police/shrikhand/Shrikhand-Regular.otf");
}
img {
  object-fit: cover;
}

.title, .subtitle, #reservation {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Roboto";
  counter-reset: section;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.logo, .title {
  font-family: "Shrikhand";
}

p {
  color: #4e4d4d;
}

.fas, .far {
  font-size: x-large;
  color: #777676;
}

.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}
@keyframes shadow-drop-center {
  0% {
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  1% {
    background: #ff93e1;
  }
  100% {
    background: #ff93e1;
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
.btn {
  height: 50px;
  border: none;
  color: white;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0 5% 0 5%;
  font-weight: bold;
}
.btn:hover {
  animation: shadow-drop-center 1000ms;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  background: #ff93e1;
}

footer {
  background-color: #504f4f;
  color: azure;
}
footer h3 {
  margin-left: 10%;
  margin-top: 0%;
}
footer ul {
  margin: 0;
}
footer li {
  list-style: none;
}
footer .fas {
  font-size: small;
  color: white;
}

.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}
.functionality {
  display: flex;
  flex-direction: column;
  margin: 0 5% 0 5%;
}
.functionality__list {
  list-style: none;
  display: flex;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 4px 15px 0px #A0A0A0;
  width: 90%;
  height: 40px;
  margin-left: 0;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f4ef;
}
.functionality__list::before {
  counter-increment: section;
  content: counter(section);
  text-align: center;
  background-color: #9356DC;
  color: white;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  left: 2%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.functionality__list:hover {
  background-color: #e4d5f6;
}

.title {
  height: 50px;
  display: flex;
  align-items: center;
}

#logo {
  height: 60%;
  margin-left: 25%;
}

.subtitle {
  align-items: center;
  background-color: #e7e0da;
}

#localisationLogo {
  width: 30px;
}

.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}
.vignette {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 20px;
}
.vignette__image {
  height: 70%;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.vignette__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.vignette__bottom--heart {
  margin-right: 5%;
}
.vignette__bottom--heart .far, .vignette__bottom--heart .fas {
  position: absolute;
}
.vignette__bottom--heart .fas {
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vignette__bottom--heart .fas:hover {
  opacity: 1;
  animation: heart 1000ms;
}
.vignette__bottom--heart .far:hover {
  opacity: 0;
}

article a {
  text-decoration: none;
  color: unset;
  height: 100%;
  width: 100%;
}

#reservation {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  background-color: #f8f4ef;
  text-align: center;
}

#restaurant {
  background-color: #e7e5e4;
  padding: 5%;
}
#restaurant h2 {
  margin: 5%;
}

@keyframes loading {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    transform: rotate(8turn);
    opacity: 1;
    width: 50px;
    height: 50px;
  }
}
@keyframes opacity {
  0% {
    opacity: 0.5;
    background: darkgray;
  }
  90% {
    opacity: 0.5;
    background: darkgray;
  }
  100% {
    opacity: 0;
    background: none;
  }
}
.home {
  animation: opacity 1s;
}

.loading {
  display: flex;
  justify-content: center;
}
.loading::after {
  content: "";
  width: 0px;
  height: 0px;
  border: 10px solid white;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 1s ease-in-out;
  opacity: 0;
}

.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}
@keyframes apparition {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.imgRestaurant {
  width: 100%;
  margin: 0;
  z-index: 2;
}
.imgRestaurant img {
  object-fit: cover;
  width: 100%;
  margin: 0;
}

header .title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a img .";
  margin: 5%;
}

.restaurant {
  background-color: #f1f1f1;
  border-radius: 30px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  padding: 5%;
}
.restaurant h2 {
  font-weight: normal;
}
.restaurant h3 {
  text-transform: uppercase;
}
.restaurant h3:after {
  display: block;
  content: "";
  background-color: #99E2D0;
  height: 3px;
  width: 15%;
}
.restaurant__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurant__menu--list {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}
.restaurant__menu--plate {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5%;
  padding: 0 0 0 2%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  /*
              &--choice {

  // Refaire avec une DIV pour l'animation rotation
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: transparent;
                  background-color: $-tertiary;
                  border-radius: 0 20px 20px 0;
                  width: 0%;
                  height: 100%;
                  transition: width 1000ms;
                  i {
                      color: white;
                  }
              }
              &:hover {
                  .restaurant__menu--plate--choice {
                 //     animation: select 1000ms ;
                 //     animation-direction: alternate;
                      width: 15%;
                      i {
                          display: block;

                          animation: rotate 1000ms;
                      }
                  }
              }
              */
}
.restaurant__menu--plate h4, .restaurant__menu--plate h5 {
  margin: 0 0 0 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu--plate--title {
  width: 80%;
  white-space: nowrap;
}
.restaurant__menu--plate p {
  margin-right: 3%;
}
.restaurant__menu--plate--choice {
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  width: 0%;
  height: 100%;
  transition: width 1000ms;
}
.restaurant__menu--plate--choice i {
  color: white;
}
.restaurant__menu--plate:hover .restaurant__menu--plate--choice {
  width: 15%;
}

.plate_1 {
  animation: apparition 1000ms;
}
.plate_2 {
  animation: apparition 1500ms;
}
.plate_3 {
  animation: apparition 2000ms;
}
.plate_4 {
  animation: apparition 3000ms;
}
.plate_5 {
  animation: apparition 3500ms;
}
.plate_6 {
  animation: apparition 4000ms;
}
.plate_7 {
  animation: apparition 5000ms;
}
.plate_8 {
  animation: apparition 5500ms;
}
.plate_9 {
  animation: apparition 6000ms;
}

.command {
  display: flex;
  justify-content: center;
}

.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
