.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("/police/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/police/roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/police/shrikhand/Shrikhand-Regular.otf");
}
img {
  object-fit: cover;
}

.title, .subtitle, #reservation {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Roboto";
  counter-reset: section;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.logo, .title {
  font-family: "Shrikhand";
}

h2 {
  font-family: "Roboto-Bold";
}

p {
  color: #4e4d4d;
}

h2, h4 {
  font-weight: bold;
}

h5 {
  font-weight: lighter;
  color: #5a5a5a;
}

.fas, .far {
  font-size: x-large;
  color: #777676;
}

.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}
@keyframes shadow-drop-center {
  0% {
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  1% {
    background: #ff93e1;
  }
  100% {
    background: #ff93e1;
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
.btn {
  height: 50px;
  border: none;
  color: white;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0 5% 0 5%;
  font-weight: bold;
  font-size: 14px;
}
.btn:hover {
  animation: shadow-drop-center 1000ms;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  background: #ff93e1;
}

footer {
  background-color: #504f4f;
  color: azure;
  padding: 5%;
}
footer h3 {
  margin-top: 0%;
  font-weight: lighter;
}
footer ul {
  padding-inline-start: 0;
}
footer li {
  list-style: none;
  padding: 1% 0 0 0;
  margin: 0;
}
footer li span {
  padding: 1%;
}
footer .fas {
  font-size: small;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}

.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}
.functionality {
  display: flex;
  flex-direction: column;
  margin: 0 5% 15% 5%;
}
.functionality__list--item {
  list-style: none;
  display: flex;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 10px 30px 0px #c5c5c5;
  width: 90%;
  height: 40px;
  margin-left: 0;
  border-radius: 20px;
  align-items: center;
  background-color: #f0f0f0;
}
.functionality__list--item::before {
  counter-increment: section;
  content: counter(section);
  text-align: center;
  background-color: #9356DC;
  color: white;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  left: 2%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.functionality__list--item .fas {
  margin-left: 5%;
  margin-right: 10%;
  width: 10%;
}
.functionality__list--item:hover {
  background-color: #e4d5f6;
}
.functionality__list--item:hover i {
  color: #9356DC;
}

.title {
  height: 50px;
  align-items: center;
  padding: 5px;
}

header .fas {
  font-size: medium;
  color: black;
  display: flex;
  justify-content: center;
}

.header-menu .title a {
  position: absolute;
  left: 5%;
  text-decoration: none;
}
.header-menu .title a i {
  color: #7b7b7c;
  font-size: large;
  border: none;
}

#logo {
  height: 60%;
}

.subtitle {
  align-items: center;
  background-color: #e8e8e8;
  box-shadow: inset 0px 3px 5px #d0cece;
  height: 50px;
}
.subtitle input {
  border: none;
  background-color: unset;
  font-size: large;
  width: 120px;
}

#localisationLogo {
  width: 30px;
}

.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}
.vignette {
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 20px;
}
.vignette__image {
  height: 70%;
  width: 100%;
  position: relative;
}
.vignette__image--photo {
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  z-index: -1;
}
.vignette__image--new {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 1;
  background-color: #99E2D0;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  -webkit-box-shadow: 5px 5px 23px 5px #000000;
  box-shadow: 5px 5px 23px 5px #000000;
}
.vignette__image--new p {
  color: #278870;
  font-size: 14px;
  font-weight: bold;
}
.vignette__bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  height: 30%;
}
.vignette__bottom--text h3 {
  margin-bottom: 0;
  font-family: "Roboto-Bold";
}
.vignette__bottom--text p {
  margin-top: 3%;
}
.vignette__bottom--heart {
  margin-top: 8%;
  margin-right: 5%;
}
.vignette__bottom--heart .far, .vignette__bottom--heart .fas {
  position: absolute;
}
.vignette__bottom--heart .fas {
  opacity: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vignette__bottom--heart .fas:hover {
  opacity: 1;
  animation: heart 1000ms;
}
.vignette__bottom--heart .far:hover {
  opacity: 0;
}

article a {
  text-decoration: none;
  color: unset;
  height: 100%;
  width: 100%;
}

#reservation {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
  background-color: #f0f0f0;
  text-align: center;
}
#reservation h2 {
  margin-block-end: 0;
  margin: 20px 20px 0 20px;
}
#reservation p {
  margin-block-end: 1.5em;
}

#restaurant {
  background-color: #e7e5e4;
  padding: 1% 5% 1% 5%;
}

@keyframes loading {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    transform: rotate(8turn);
    opacity: 1;
    width: 50px;
    height: 50px;
  }
}
@keyframes opacity {
  0% {
    opacity: 0.5;
    background: darkgray;
  }
  90% {
    opacity: 0.5;
    background: darkgray;
  }
  100% {
    opacity: 0;
    background: none;
  }
}
.home {
  animation: opacity 3000ms;
}

.loading {
  display: flex;
  justify-content: center;
}
.loading::after {
  content: "";
  width: 0px;
  height: 0px;
  border: 10px solid white;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 3000ms ease-in-out;
  opacity: 0;
}

.-primary {
  background-color: #9356DC;
}

@keyframes heart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes select {
  from {
    width: 0%;
  }
  to {
    width: 15%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes display {
  0% {
    display: none;
  }
  1% {
    display: block;
  }
  100% {
    display: block;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("/police/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/police/roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/police/shrikhand/Shrikhand-Regular.otf");
}
img {
  object-fit: cover;
}

.title, .subtitle, #reservation {
  display: flex;
  justify-content: center;
}

body {
  font-family: "Roboto";
  counter-reset: section;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.logo, .title {
  font-family: "Shrikhand";
}

h2 {
  font-family: "Roboto-Bold";
}

p {
  color: #4e4d4d;
}

h2, h4 {
  font-weight: bold;
}

h5 {
  font-weight: lighter;
  color: #5a5a5a;
}

.fas, .far {
  font-size: x-large;
  color: #777676;
}

@keyframes apparition {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
.imgRestaurant {
  width: 100%;
  height: 250px;
  margin: 0;
  z-index: 2;
}
.imgRestaurant img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.restaurant {
  background-color: #f0f0f0;
  border-radius: 30px;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  padding: 0 5% 5% 5%;
}
.restaurant h2 {
  font-weight: normal;
  font-size: 27px;
  margin-top: 10px;
}
.restaurant h3 {
  text-transform: uppercase;
}
.restaurant h3:after {
  display: block;
  content: "";
  background-color: #99E2D0;
  height: 3px;
  width: 12%;
}
.restaurant__title {
  display: flex;
  justify-content: space-between;
}
.restaurant__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.restaurant__menu h3 {
  font-weight: lighter;
}
.restaurant__menu--plate {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 5%;
  padding: 0 0 0 2%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.restaurant__menu--plate h4, .restaurant__menu--plate h5 {
  margin: 5px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__menu--plate--title {
  width: 80%;
  transition: width 1000ms;
}
.restaurant__menu--plate p {
  align-self: flex-end;
  font-weight: bold;
}
.restaurant__menu--plate--choice {
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  width: 0%;
  height: 100%;
  transition: width 1000ms;
}
.restaurant__menu--plate--choice i {
  color: white;
}
.restaurant__menu--plate:hover .restaurant__menu--plate--choice {
  width: 15%;
}
.restaurant__menu--plate:hover .restaurant__menu--plate--choice i {
  display: block;
  animation: rotate 1000ms;
}
.restaurant__menu--plate:hover .restaurant__menu--plate--title {
  width: 65%;
  white-space: nowrap;
}

.plate_1 {
  animation: apparition 1000ms;
}

.plate_2 {
  animation: apparition 2000ms;
}

.plate_3 {
  animation: apparition 3000ms;
}

.plate_4 {
  animation: apparition 4000ms;
}

.plate_5 {
  animation: apparition 5000ms;
}

.plate_6 {
  animation: apparition 6000ms;
}

.plate_7 {
  animation: apparition 7000ms;
}

.plate_8 {
  animation: apparition 8000ms;
}

.plate_9 {
  animation: apparition 9000ms;
}

.command {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  #reservation {
    height: 10%;
  }
  #reservation h2 {
    margin: 0;
  }

  .functionality {
    margin: 0 5% 5% 5%;
  }
  .functionality__list {
    display: flex;
    flex-direction: row;
  }
  .functionality__list--item::before {
    position: relative;
    left: 0%;
  }

  #restaurant {
    padding: 5%;
  }
  #restaurant h2 {
    margin-bottom: 5%;
  }

  .vignettes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .vignette {
    width: 40%;
  }

  .imgRestaurant {
    height: 500px;
  }

  .restaurant__title h2 {
    margin: 0;
  }
  .restaurant__menu h3:after {
    display: block;
    content: "";
    height: 3px;
    width: 5%;
  }
  .restaurant__menu--list {
    display: flex;
  }
  .restaurant__menu--plate {
    flex: 3;
    margin: 0.5%;
  }
  .restaurant .command {
    margin-top: 3%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer h3 {
    margin-left: 0%;
  }
  footer ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  footer li {
    width: 20%;
    flex: 4;
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
