@import "../utils/variables";

@keyframes shadow-drop-center {
    0% {
        background: $-gradient;
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    1% {
        background: lighten($color: $-secondary, $amount: 5%);
    }
    100% {
        background: lighten($color: $-secondary, $amount: 5%);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.btn {
    height: 50px;
    border: none;
    color: white;
    border-radius: 30px;
    background: $-gradient;
    padding: 0 5% 0 5%;
    font-weight: bold;
    &:hover {
        animation: shadow-drop-center 1000ms;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        background: lighten($-secondary, 5%);
    }
}


  