@media screen and (min-width: 900px) {
    #reservation {
        height: 10%;
        & h2 {
            margin: 0;
        }
    }

    .functionality {
        &__list {
            display: flex;
            flex-direction: row;
            &--item {
                &::before {
                    opacity: 0;
                }
            }
        }
    }

    #restaurant {
        padding: 0;
        h2 {
            margin: 0px;
        }
    }

    .vignettes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .vignette {
        width: 40%;
    }

    .imgRestaurant {
        height: 350px;
    }

    .restaurant {
        &__title {
            h2 {
                margin: 0;
            }
        }
        &__menu {
            & h3 {
                &:after {
                    display: block;
                    content: '';
                    background-color: red;
                    height: 3px;
                    width: 15%;
                }
            }
            &--list {
                display: flex;
            }
            &--plate {
                flex: 3;
                margin: 0.5%;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        li {
            width: 20%;

        }

    }
}