@media screen and (min-width: 900px) {
    #reservation {
        height: 10%;
        & h2 {
            margin: 0;
        }
    }

    .functionality {
        margin: 0 5% 5% 5%;
        &__list {
            display: flex;
            flex-direction: row;

            &--item {
                &::before {
                    position: relative;
                    left: 0%;
                }
            }
        }
    }

    #restaurant {
        padding: 5%;
        h2 {
            margin-bottom: 5%;
        }
    }

    .vignettes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .vignette {
        width: 40%;
    }

    .imgRestaurant {
        height: 500px;
    }

    .restaurant {
        &__title {
            h2 {
                margin: 0;
            }
        }
        &__menu {
            & h3 {
                &:after {
                    display: block;
                    content: '';
                    height: 3px;
                    width: 5%;
                }
            }
            &--list {
                display: flex;
            }
            &--plate {
                flex: 3;
                margin: 0.5%;
            }
        }
        .command {
            margin-top: 3%;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            margin-left: 0%;
        }
        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        li {
            width: 20%;
            flex: 4;
            display: flex;
            justify-content: center;

        }

    }
}