@media screen and (min-width: 900px) {
    #reservation {
        border: 2px solid blue;
        height: 10%;
        & h2 {
            margin: 0;
        }
        & .btn {
            height: 50px;
            border: 1px solid red;
            padding: 2%;
        }
    }

    .functionality {
        &__list {
            display: flex;
            flex-direction: row;
            border: 2px solid green;
            &--item {
                &::before {
                    opacity: 0;
                }
            }
        }
    }

    #restaurant {
        padding: 0;
        border: 1px solid brown;
        h2 {
            margin: 0px;
            border: 1px solid darkblue;
        }
    }

    .vignettes {
        border: 2px solid springgreen;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .vignette {
        width: 40%;
    }

    .imgRestaurant {
        height: 350px;
    }

    .restaurant {
        border: 1px solid red;
        &__title {
            h2 {
                margin: 0;
            }
        }
        &__menu {
            & h3 {
                border: 1px solid rebeccapurple;
                &:after {
                    display: block;
                    content: '';
                    background-color: red;
                    height: 3px;
                    width: 15%;
                }
            }
            &--plate {
                margin-bottom: 0;
            }
        }
    }
}