@font-face {
    font-family: 'Roboto';
    src: url('/police/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('/police/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('/police/shrikhand/Shrikhand-Regular.otf');
}



img {
    object-fit: cover;
}

.title, .subtitle, #reservation {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Roboto';
    counter-reset: section;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.logo, .title {
    font-family: 'Shrikhand';
}

h2 {
    font-family: 'Roboto-Bold';
}

p {
    color: rgb(78, 77, 77);
}

h2, h4 {
    font-weight: bold;
}

h5 {
    font-weight: lighter;
    color: rgb(90, 90, 90);
}

.fas, .far {
    font-size: x-large;
    color: rgb(119, 118, 118);
}