#reservation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    background-color: rgb(248, 244, 239);
    text-align: center;
}

#restaurant {
    background-color: rgb(231, 229, 228);
    padding: 5%;
    h2 {
      margin: 5%;  
    }
}

@keyframes loading {
  to {
    transform: rotate(8turn);
  }
}

@keyframes opacity {
  0% {
    opacity: 0.5;
    background: darken($color: whitesmoke, $amount: 30%);
  }
  90% {
    opacity: 0.5;
    background: darken($color: whitesmoke, $amount: 30%);
  }
  100% {
    opacity: 0;
    background: none;
  }
}

.home {
  animation: opacity 5s;
}

.loading {
  display: flex;
  justify-content: center;
  &::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid white;
    border-top-color: green;
    border-radius: 50%;
    animation: loading 5s ease-in-out;
  }
}