.imgRestaurant {
    width: 100%;
    margin: 0;
    z-index: 2;
    img {
       object-fit: cover; 
       width: 100%;
        margin: 0;
    }
    
}

.restaurant {
    background-color: rgb(231, 228, 228);
    border-radius: 30px;
    margin-top: -30px;
    z-index: 1;
    padding: 5%;
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h3::before {
            border-bottom: 2px solid green;
        }
        &--list {
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;
        }
        &--name {
            display: flex;
            flex-direction: column;
            background-color: white;
            border-radius: 20px;
            margin-bottom: 5%;
            padding: 2% 5% 0 5%;
            height: 60px;
            justify-content: center;
            h4, h5 {
                margin: 0 0 0 0;
            }
            &--description {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-top: 0;
                p {
                    font-weight: bold;
                }
            }   
        }
    }
}







