@import "../utils/variables";

.imgRestaurant {
    width: 100%;
    margin: 0;
    z-index: 2;
    img {
       object-fit: cover; 
       width: 100%;
        margin: 0;
    }
}

header {
    .title {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-areas: "a img .";
        margin: 5%;
    }
    
    
}

.restaurant {
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
    padding: 5%;
    h2 {
        font-weight: normal;
    }
    & h3 {
        text-transform: uppercase;
        &:after {
        display: block;
        content: '';
        background-color: $-tertiary;
        height: 3px;
        width: 15%;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--list {
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;
        }
        &--plate {
            display: flex;
            flex-direction: row;
            background-color: white;
            border-radius: 20px;
            margin-bottom: 5%;
            padding: 0 0 0 2%;
            height: 60px;
            justify-content: space-between;
            align-items: center;
            overflow: hidden;
            h4, h5 {
                margin: 0 0 0 0;
            }
            &--title {
                width: 80%;
            }
            p {
                margin-right: 3%;
            }
            &--choice {
                
// Refaire avec une DIV pour l'animation rotation
                display: flex;
                align-items: center;
                justify-content: center;
                color: transparent;
                background-color: $-tertiary;
                border-radius: 0 20px 20px 0;
                width: 0%;
                height: 100%;
                transition: width 1000ms;
                i {
                    color: white;
                }
            }
            &:hover {
                .restaurant__menu--plate--choice {
               //     animation: select 1000ms ;
               //     animation-direction: alternate;
                    width: 15%;
                    i {
                        display: block;
 
                        animation: rotate 1000ms;
                    }
                }
            }

            /*
            &--choice {
                background-color: $-tertiary;
                border-radius: 0 20px 20px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 20%;
                &:hover {
                    display: flex;
                }
                i {
                    color: white;
                }
            }
            */
        }
    }
}

.command {
    display: flex;
    justify-content: center;
}







