@import "../utils/variables";

.imgRestaurant {
    width: 100%;
    margin: 0;
    z-index: 2;
    img {
       object-fit: cover; 
       width: 100%;
        margin: 0;
    }
    
}

h3 {
    text-transform: uppercase;
    &:after {
    display: block;
    content: '';
    border: 2px solid $-tertiary;
    width: 15%;
    }
}

.restaurant {
    background-color: rgb(241, 241, 241);
    border-radius: 30px;
    margin-top: -30px;
    position: relative;
    z-index: 1;
    padding: 5%;
    &::after{
        content: "";
        background-color: greenyellow;
        width: 20%;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &--list {
            display: flex;
            flex-direction: column;
            margin-bottom: 5%;
        }
        &--plate {
            display: flex;
            flex-direction: row;
            background-color: white;
            border-radius: 20px;
            margin-bottom: 5%;
            padding: 2% 5% 0 5%;
            height: 60px;
            justify-content: space-around;
            align-items: center;
            h4, h5 {
                margin: 0 0 0 0;
            }
        }
    }
}

.command {
    display: flex;
    justify-content: center;
}







